[Unit]
Description=Update pajbot1 chatters

[Service]
User=pajbot
Group=pajbot
WorkingDirectory=/opt/pajbot-chatters
ExecStart=/opt/pajbot-chatters/chatters

[Install]
WantedBy=basic.target
